@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/alumnisans-semibold.woff2") format("woff2"), url("../fonts/alumnisans-semibold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/alumnisans-bold.woff2") format("woff2"), url("../fonts/alumnisans-bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/robotocondensed-light.woff2") format("woff2"), url("../fonts/robotocondensed-light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/robotocondensed-regular.woff2") format("woff2"), url("../fonts/robotocondensed-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/robotocondensed-bold.woff2") format("woff2"), url("../fonts/robotocondensed-bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/robotocondensed-medium.woff2") format("woff2"), url("../fonts/robotocondensed-medium.woff") format("woff");
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  background-color: #1E1E1E;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: #ffffff;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #030A1a;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.footer__wrapper {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-column-gap: 25%;
  -moz-column-gap: 25%;
  column-gap: 25%;
}

.footer__logo {
  width: 20%;
}

.footer__nav {
  width: 55%;
}

.footer__socials {
  width: 30%;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.main__hero {
  min-height: 450px;
}

.page__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 1366px;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
  overflow-x: hidden;
}

.page__body::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  min-height: 657.5px;
  background-image: url("../img/hero-gradient.png");
  background-repeat: no-repeat;
  z-index: 0;
}

.page__header {
  padding: 0 101px 0 103px;
  min-height: 104px;
  margin: 0;
  z-index: 1;
}

.page__main {
  padding: 0 101px 0 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 1;
  margin: 0;
}

.page__footer {
  padding: 41px 101px 22px 103px;
  min-height: 108px;
  margin: 0;
}

.phone {
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 26px;
  font-style: normal;
  line-height: 29px;
  font-weight: 600;
  letter-spacing: 0.78px;
}

.logo__img--footer {
  margin-top: 2px;
  width: 84px;
  height: 32px;
}

.hero {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 11.5% 22.8% 65.7%;
  grid-template-columns: 11.5% 22.8% 65.7%;
  color: #ffffff;
}

.hero__main-information {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.hero__city {
  padding: 62px 0 0 0;
  margin: 0 54px 20px 0;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 1.44px;
  text-align: right;
  text-transform: lowercase;
}

.hero__title {
  margin: 0 6px 48px 0;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 92px;
  font-style: normal;
  font-weight: 600;
  line-height: 111px;
  letter-spacing: 4.6px;
  text-align: right;
  text-transform: uppercase;
  text-shadow: 5px 0 0 #ffffff;
}

.hero__link {
  display: inline-block;
  width: 237px;
  margin-left: 27px;
  margin-bottom: 27px;
  padding: 24px 56px 24px 56px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 5px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  border: 4px solid #ffffff;
}

.hero__picture {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.hero__img {
  margin: 0;
  margin-top: -53px;
  padding-left: 62px;
  width: 73.5%;
  max-height: 556px;
}

.hero__advantages {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  padding-top: 252px;
  margin-bottom: 25px;
}

.hero__advantage {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.nav__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1px;
}

.nav__item {
  display: inline-block;
}

.site-list {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-column-gap: 11px;
  -moz-column-gap: 11px;
  column-gap: 11px;
}

.socials__item {
  margin-right: 1px;
}

/* @mixin hover-focus {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        @content;
      }
    }

    &.focus-visible:focus {
      @content;
    }
  }
*/

/*  @include hover-focus {
      opacity: 0.8;
    }
*/

/*@mixin hover {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        @content;
      }
    }
  }
*/

/*@mixin focus {
    &.focus-visible:focus {
      @content;
    }
  }
*/

/*@mixin active {
    &.focus-visible:active {
      @content;
    }
  }
*/

@media (max-width: 1199px) {
  .header {
    padding: 40px 0 25px 0;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }

  .header__logo {
    display: block;
    width: 81px;
    height: 17px;
  }

  .footer {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .footer__wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-column-gap: 7.4%;
    -moz-column-gap: 7.4%;
    column-gap: 7.4%;
  }

  .footer__logo {
    width: 19.4%;
  }

  .footer__nav {
    width: 73%;
  }

  .footer__socials {
    width: 21%;
  }

  .footer__socials {
    width: 33%;
  }

  .page__body::after {
    min-height: 554px;
  }

  .page__header {
    min-height: 82px;
    padding: 0 45px;
  }

  .page__main {
    min-height: 82px;
    padding: 0 45px;
  }

  .page__footer {
    min-height: 114px;
    padding: 45px 45px 0 45px;
  }

  .phone {
    display: block;
    min-height: 17px;
    font-size: 24px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.48px;
  }

  .logo__img--footer {
    width: 81px;
    height: 18px;
    margin: 0;
    margin-top: 2px;
  }

  .hero {
    -ms-grid-columns: 48% 52%;
    grid-template-columns: 48% 52%;
    min-height: 472px;
  }

  .hero__main-information {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .hero__city {
    padding-top: 47px;
    margin: 0 6px 2px 0;
    font-size: 34px;
    letter-spacing: 1.02px;
  }

  .hero__title {
    margin: 0 3px 37px 0;
    line-height: 86px;
    font-size: 77px;
    letter-spacing: 2px;
    text-transform: lowercase;
    text-shadow: 3px 0 0 #ffffff;
  }

  .hero__title::first-letter {
    text-transform: uppercase;
  }

  .hero__link {
    display: block;
    width: 188px;
    margin: 0;
    margin-left: auto;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 24px 33px;
  }

  .hero__picture {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }

  .hero__img {
    padding: 0;
    margin-top: 0;
    min-width: 324px;
    min-height: 390px;
    margin-left: auto;
  }

  .hero__advantages {
    position: absolute;
    content: "";
    top: 0;
    grid-column: none;
    padding-top: 186px;
    padding-right: 30px;
  }

  .nav__list {
    -webkit-column-gap: 14px;
    -moz-column-gap: 14px;
    column-gap: 14px;
  }

  .nav__item {
    margin-left: 16px;
  }

  .socials {
    -webkit-column-gap: 9px;
    -moz-column-gap: 9px;
    column-gap: 9px;
  }
}

@media (max-width: 1199px) and (max-width: 767px) {
  .hero__title {
    min-height: 137px;
    margin-bottom: 22px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 14px 0 16px 0;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }

  .header__logo {
    display: inline-block;
    width: 69px;
    height: 24px;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__wrapper {
    position: relative;
    width: 100%;
    display: block;
  }

  .footer__logo {
    position: absolute;
    content: "";
    padding-top: 5px;
    width: 66px;
    height: 15px;
  }

  .footer__nav {
    width: 100%;
  }

  .page__body::after {
    min-height: 491px;
  }

  .page__header {
    min-height: 54px;
    padding: 0 15px;
  }

  .page__main {
    min-height: 54px;
    padding: 0 15px;
  }

  .page__footer {
    min-height: 260px;
    padding: 44px 15px 47px 15px;
  }

  .phone {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.4px;
  }

  .logo__img {
    -o-object-fit: contain;
    object-fit: contain;
    height: 24px;
  }

  .logo__img--footer {
    width: 66px;
    height: 15px;
    margin: 0;
  }

  .hero {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    min-height: 437px;
  }

  .hero__city {
    margin: 0 4px 4px 0;
    font-size: 28px;
    letter-spacing: 0.84px;
  }

  .hero__link {
    width: 100%;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.4px;
    padding: 25px 84px 25px 84px;
  }

  .hero__picture {
    display: none;
  }

  .hero__advantages {
    grid-column: none;
    padding-top: 176px;
    padding-right: 30px;
  }

  .nav__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px 23px;
  }

  .nav__item {
    margin: 0;
  }

  .site-list {
    font-size: 16px;
  }

  .site-list--servises {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }

  .site-list--abonements {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }

  .site-list--actions {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }

  .site-list--treners {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }

  .site-list--shedules {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .page__body::after {
    background-image: url("../img/hero-gradient@2x.png");
  }
}