.abonement {
  position: relative;
  background-color: $color-ghost-white;

  &::after {
    position: absolute;
    content: "";
    top: calc(100% - 313px);
    left: calc(100% - 246px);
    width: 321px;
    height: 384px;
    background-image: url("../img/gym-equipment-desktop.png");
    background-repeat: no-repeat;
    background-position: -40px -30px;
    z-index: 0;

    @include vp-1199 {
      top: calc(100% - 300px);
      left: calc(100% - 310px);
      background-image: url("../img/gym-equipment-tablet.png");
      background-position: -40px -20px;
    }

    @include vp-767 {
      display: none;
    }
  }
}

.abonement__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 122px;
  padding-bottom: 39px;

  @include vp-1199 {
    padding-top: 103px;
    padding-bottom: 10px;
  }

  @include vp-767 {
    padding-top: 66px;
    padding-bottom: 20.5px;
    margin-bottom: 0;
  }
}

.abonement h2 {
  margin: 0 6px 10px 0;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
  text-align: center;
  color: $color-sapphire;

  @include vp-1199 {
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
    margin: 0 0 15px 0;
  }
}

.abonement__months-number {
  position: relative;
  display: flex;
  justify-content: start;
  align-self: center;
  column-gap: 46px;
  margin: 0 0 37px 0;
  text-align: center;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @include vp-1199 {
    column-gap: 54px;
    margin-bottom: 45px;
  }

  @include vp-767 {
    column-gap: 45px;
    margin-bottom: 34px;
    word-wrap: break-word;
  }
}

.abonement__months-number button {
  padding: 10px 0;
  color: rgba(16, 38, 84, 0.5);
  border: none;
  background-color: $color-ghost-white;
  font-family: $ff-roboto-condensed;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @include vp-1199 {
    font-size: 18px;
  }

  @include vp-767 {
    font-size: 16px;
  }
}

.abonement__months-number button.is-active {
  border-bottom: 1px solid $color-crimson;
}

.abonement__programs-content {
  margin-bottom: 50px;
}

