.about-gym {
  color: $color-sapphire;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}

.about-gym h2 {
  margin: 40px 0 11px 0;
  font-family: $ff-alumni-sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;

  @include vp-1199 {
    display: block;
    min-width: 261px;
    margin: 0 0 2px 0;
    align-self: center;
    color: $color-sapphire;
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    display: block;
    min-width: 290px;
    font-size: 32px;
    letter-spacing: 0.96px;
    text-align: left;
    margin: 0 auto 7px 0;
  }
}

.about-gym span {
  display: block;
  margin: 0 0 39px 0;
  color: $color-sapphire;
  font-family: $ff-roboto-condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @include vp-1199 {
    margin-bottom: 37px;
    letter-spacing: 1px;
    font-size: 16px;
  }

  @include vp-767 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    min-width: 290px;
    margin: 0 auto 24px 0;
  }
}

.about-gym p:nth-child(3) {
  display: block;
  margin: 0 0 8px 0;
  color: $color-sapphire;
  font-family: $ff-roboto-condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;

  @include vp-1199 {
    width: 75%;
    text-align: center;
    margin-bottom: 42.5px;
    font-size: 16px;
    letter-spacing: 0;
  }

  @include vp-767 {
    display: block;
    min-width: 258px;
    margin: 0 auto 20px 0;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
  }
}

.about-gym p:nth-child(4) {
  display: block;
  margin: 0 0 25px 0;
  color: $color-sapphire;
  font-family: $ff-roboto-condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;

  @include vp-1199 {
    display: none;
  }
}
