.about-gym {
  color: $color-sapphire;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}

.about-gym__title {
  font-family: $ff-alumni-sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;
  margin: 40px 0 11px 0;

  @include vp-1199 {
    display: block;
    min-width: 261px;
    margin: 0 0 2px 0;
    align-self: center;
    color: #102654;
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    display: block;
    min-width: 290px;
    font-size: 32px;
    letter-spacing: 0.96px;
    text-align: start;
    margin-bottom: 7px;
  }
}

.about-gym__area {
  color: #102654;
  font-family: $ff-roboto-condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0 0 40px 0;

  @include vp-1199 {
    margin-bottom: 37px;
    letter-spacing: 1px;
    font-size: 16px;
  }

  @include vp-767 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    min-width: 290px;
    margin-bottom: 24px;
  }
}

.about-gym__descripton {
  display: block;
  color: #102654;
  font-family: $ff-roboto-condensed;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin: 0;

  @include vp-1199 {
    text-align: center;
    width: 74%;
    font-size: 16px;
    margin-bottom: 30px;
    letter-spacing: 0px;
  }

  @include vp-767 {
    display: block;
    margin-right: auto;
    min-width: 258px;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 27px;
  }
}

.about-gym__descripton1 {
  display: block;
  margin-bottom: 10px;
}

@include vp-1199 {
  .about-gym__descripton2 {
    display: none;
  }
}
