.contacts {
  padding: 59px 0 0 124px;
  max-width: 683px;
  color: $color-sapphire;
  font-style: normal;

  @include vp-1199 {
    padding: 63px 83px 37px 133px;
    border: none;
    max-width: none;
    width: 100%;
  }

  @include vp-767 {
    padding: 65px 15px 38px 15px;
  }
}

.contacts h3 {
  margin: 0 0 39px -3px;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;

  @include vp-1199 {
    margin: 0 0 37px 0;
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    margin-bottom: 41px;
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.contacts ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  column-gap: 22%;
  row-gap: 17px;
  padding: 0;
  margin-bottom: 59px;

  @include vp-1199 {
    column-gap: 14%;
    row-gap: 24px;
    margin-bottom: 27px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 23px;
  }
}

.contacts ul::before {
  position: absolute;
  content: "";
  top: 2%;
  left: 41.5%;
  min-height: 102px;
  height: 100%;
  width: 1px;
  background-color: $color-light-slate-grey;
  z-index: 444;

  @include vp-1199 {
    top: 4%;
    left: 48%;
    height: 95%;
    min-height: 128px;
  }

  @include vp-767 {
    display: none;
  }
}

.contacts ul li {
  width: 36.9%;

  @include vp-1199 {
    width: 43%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.contacts ul li:nth-child(1) {
  @include vp-767 {
    order: -1;
  }
}

.contacts ul li:nth-child(3) {
  @include vp-767 {
    order: 0;
  }
}

.contacts ul li:nth-child(2) {
  @include vp-767 {
    order: 3;
  }
}

.contacts ul li:nth-child(4) {
  @include vp-767 {
    order: 4;
  }
}

.contacts__common a,
.contacts__common span {
  color: $color-sapphire;
  font-family: $ff-roboto-condensed;
  font-size: 14px;
  font-weight: 400;

  @include vp-1199 {
    font-size: 18px;
    width: 100%;
  }

  @include vp-767 {
    line-height: 20px;
  }
}

.contacts__common p {
  margin: 0;
  padding: 0;
  color: $color-sapphire;
  font-family: $ff-roboto-condensed;
  font-size: 16px;
  font-weight: 700;


  @include vp-1199 {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }

  @include vp-767 {
    display: block;
    margin-bottom: 13px;
    font-size: 20px;
    line-height: 20px;
  }
}


@include vp-767 {
  .contacts__common .contacts__phone {
    display: block;
    padding-top: 4px;
  }
}
