.contacts {
  border-top: 1px solid $color-light-slate-grey;
  padding: 59px 100px 0 123px;
  min-height: 336px;
  color: $color-sapphire;
  font-style: normal;


  @include vp-1199 {
    padding: 63px 133px 56px 133px;
    border: none;
  }

  @include vp-767 {
    padding: 65px 15px 43px 15px;
  }
}

.contacts__title {
  margin: 0 0 39px 0;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;

  @include vp-1199 {
    font-size: 42px;
    letter-spacing: 1.26px;
    margin: 0 0 34px 0;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.contacts__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 37.3% 36.4%;
  grid-auto-rows: min-content;
  gap: 20.2% 26.4%;
  padding-bottom: 70px;

  @include vp-1199 {
    grid-template-columns: 43.4% 37.4%;
    gap: 13.2% 19%;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
  }
}

.contacts__wrapper::before {
  position: absolute;
  content: "";
  background-color: $color-light-slate-grey;
  height: 102px;
  width: 1px;
  top: 5%;
  left: 50%;
  z-index: 444;

  @include vp-1199 {
    height: 129px;
    top: 7%;
    left: 53%;
  }

  @include vp-767 {
    display: none;
  }
}

.contacts__address {
  grid-column: 1/2;
  grid-row: 1/2;
}

.contacts__phone {
  grid-column: 2/3;
  grid-row: 1/2;
}

.contacts__opening-hours {
  grid-column: 1/2;
  grid-row: 2/3;
}

.contacts__email {
  grid-column: 2/3;
  grid-row: 2/3;
}

.contacts__address,
.contacts__opening-hours,
.contacts__text--link {
  margin: 0;
  color: $color-sapphire;
  font-family: $ff-roboto-condensed;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;

  @include vp-1199 {
    font-size: 20px;
  }
}

@include vp-1199 {
  .contacts__text--link {
    display: block;
    margin-bottom: 8px;
  }
}

@include vp-767 {
  .contacts__text--link {
    margin-bottom: 0;
  }
}


@include vp-767 {
  .contacts__text--link {
    margin-bottom: 4px;
  }
}

.contacts__phone,
.contacts__email,
.contacts__text {
  color: $color-sapphire;
  font-family: $ff-roboto-condensed;
  font-size: 14px;
  font-weight: 400;
  line-height: 152.34%;


  @include vp-1199 {
    font-size: 18px;
  }
}
