.feedback {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;

  @include vp-1199 {
    grid-template-columns: 100%;
  }
}

.feedback__container--1 {
  display: flex;
  justify-content: end;
  grid-column: 1/2;
  width: 100%;
  background-color: $color-sapphire;

  @include vp-1199 {
    justify-content: start;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.feedback__container--2 {
  display: flex;
  justify-content: start;
  grid-column: 2/3;
  width: 100%;
  border-top: 1px solid $color-light-slate-grey;

  @include vp-1199 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
