.feedback {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include vp-1199 {
    grid-template-columns: 100%;
  }

}

.feedback__container--1 {
  width: 100%;
  grid-column: 1/2;

  @include vp-1199 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

}

.feedback__container--2 {
  width: 100%;
  grid-column: 2/3;

  @include vp-1199 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

