.footer {
  background-color: $color-black-russian;
}

.footer__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 34px;
  background-color: $color-black-russian;

  @include vp-1199 {
    padding-top: 45px;
    padding-bottom: 34px;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.footer__container > a {
  width: 7.5%;
  margin-right: 23%;

  @include vp-1199 {
    width: 12%;
    margin-right: 7.66%;
  }

  @include vp-767 {
    position: absolute;
    content: "";
    top: 19%;
    width: 66px;
    height: 15px;
  }
}

.footer__nav {
  width: 38.7%;
  margin-right: 22%;

  @include vp-1199 {
    width: 60.6%;
    margin-right: 3.7%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.footer__container > ul {
  width: 8.7%;

  @include vp-1199 {
    width: 15.9%;
  }

  @include vp-767 {
    width: 100%;
  }
}
