.free-lesson {
  min-height: 336px;
  padding: 56px 170px 0  103px;
  font-style: normal;
  color: $color-default-white;

  @include vp-1199 {
    min-height: 324px;
    padding: 54px 163px 30px  133px;
  }

  @include vp-767 {
    padding: 58px 15px 54.5px 15px;
  }
}

.free-lesson__title {
  margin: 0 0 21px 0;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 700;
  line-height: 156%;
  letter-spacing: 1.62px;

  @include vp-1199 {
    margin-bottom: 27px;
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    margin-bottom: 30px;
    font-size: 32px;
    letter-spacing: 0.7px;
  }
}
