.free-lesson {
  max-width: 683px;
  width: 100%;
  padding: 56px 103px 37px  103px;
  font-style: normal;
  color: $color-default-white;

  @include vp-1199 {
    padding: 54px 163px 30px  133px;
    max-width: none;
    width: 100%;
  }

  @include vp-767 {
    padding: 58px 15px 54.5px 15px;
  }
}

.free-lesson h3 {
  margin: 0 0 11px 0;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 800;
  line-height: 156%;
  letter-spacing: 1.32px;

  @include vp-1199 {
    margin-bottom: 17px;
    font-weight: 700;
    margin: 0 0 21px 0;
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    margin-bottom: 23px;
    font-size: 32px;
    letter-spacing: 0.7px;
  }
}

.free-lesson form {
  display: flex;
  flex-direction: column;
  gap: 26px;
  font-family: $ff-roboto-condensed;
  color: $color-default-white;
  font-size: 14px;
  line-height: 1;

  @include vp-1199 {
    column-gap: 12.7%;
    row-gap: 25px;
  }

  @include vp-767 {
    row-gap: 26px;
    width: 100%;
  }
}

.free-lesson__wrapper {
  display: flex;
  column-gap: 30px;

  @include vp-1199 {
    column-gap: 60px;
  }

  @include vp-767 {
    flex-direction: column;
    row-gap: 20px;
  }
}
