.gym-image__img {
  width: 100%;
  height: auto;
  margin: 0;


  @include vp-767 {
    min-width: 320px;
    min-height: 313px;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
  }
}
