.gym__container {
  position: relative;
  display: grid;
  grid-template-columns: 35.7% 57%;
  grid-template-rows: 1fr;
  column-gap: 7.3%;
  min-height: 516px;
  padding-top: 120px;
  padding-bottom: 236px;
  background-color: $color-default-white;

  @include vp-1199 {
    grid-template-columns: 100%;
    min-height: 654px;
    padding-top: 102px;
    padding-bottom: 183px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    min-height: 925px;
    padding: 65px 0 18px 0;
    margin-bottom: 0;
    row-gap: 0;
  }
}

.gym__wrapper {
  grid-column: 1/2;
  grid-row: 1/2;

  @include vp-1199 {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0;
    margin-right: 0;
  }

  @include vp-767 {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0 15px;
    padding-bottom: 12.6px;
  }
}

.gym__image-wrapper {
  grid-column: 2/3;
  grid-row: 1/2;

  @include vp-1199 {
    grid-column: 1/2;
    grid-row: 2/4;
    width: 100%;
  }

  @include vp-767 {
    position: relative;
    grid-column: 1/2;
    grid-row: 2/3;
    min-width: 320px;
    width: 100%;
    min-height: 313px;
    margin-bottom: 40px;
  }
}

.gym__video {
  position: absolute;
  content: "";
  top: 410px;
  left: 39.6%;
  min-height: 228px;
  min-width: 364px;

  @include vp-1199 {
    top: calc(100% - 268px);
    left: 32.7%;
    width: 30%;
    height: 19%;
    min-height: 167px;
    min-width: 266px;
  }

  @include vp-767 {
    position: relative;
    left: 0;
    margin: 0;
    min-width: 100%;
    min-height: 167px;
  }
}
