.header {
  position: relative;
  background-color: $color-nero;

  &::after {
    position: absolute;
    content: "";
    background: conic-gradient(from 151deg at 16.03% 39.06%, #003d85 32.24deg, #b80027 304deg, #003d85 360deg);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 657px;
    z-index: 0;

    @include vp-1199 {
      min-height: 554px;
    }

    @include vp-767 {
      min-height: 491px;
    }
  }
}


.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 104px;


  @include vp-1199 {
    align-items: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 82px;
  }

  @include vp-767 {
    align-items: start;
    min-height: 54px;
    padding-top: 15px;
    padding-bottom: 14px;
  }
}

.header__logo {
  z-index: 1;
}

.header__phone {
  z-index: 1;
}

@include vp-1199 {
  .header__logo {
    display: block;
    width: 81px;
    height: 17px;
  }
}

@include vp-767 {
  .header__logo {
    display: inline-block;
    width: 69px;
    height: 24px;
  }
}
