.header {
  position: relative;
  color: $color-default-white;
  background: conic-gradient(from 151deg at 16.03% 39.06%, #003d85 32.24deg, #b80027 304deg, #003d85 360deg);
  background-repeat: no-repeat;
  min-height: 657.5px;

  @include vp-768 {
    min-height: 554px;
  }

  @include vp-767 {
    min-height: 491px;
  }
}


.header__container {
  display: flex;
  flex-direction: column;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 25px;
  min-height: 104px;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 11111;


  @include vp-768 {
    align-items: flex-start;
    min-height: 82px;
    padding-top: 26px;
    padding-bottom: 25px;
  }

  @include vp-767 {
    align-items: start;
    min-height: 54px;
    padding-top: 15px;
    padding-bottom: 14px;
  }
}

.header__container a {
  z-index: 1;
}

.header__container a:nth-child(2) {
  max-width: 200px;
  z-index: 1;
}

@include vp-768 {
  .header__container a:nth-child(1) {
    display: block;
    width: 81px;
    height: 17px;
  }
}

@include vp-767 {
  .header__container a:nth-child(1) {
    display: inline-block;
    width: 69px;
    height: 24px;
  }
}
