@include vp-767 {
  .logo img {
    height: 24px;
    object-fit: contain;
  }
}

.logo__img--footer {
  width: 84px;
  height: 32px;
  margin-top: 2px;

  @include vp-1199 {
    width: 81px;
    height: 18px;
    margin: 2px 0 0 0;
  }

  @include vp-767 {
    width: 66px;
    height: 15px;
    margin: 0;
  }
}
