.page__body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-grow: 1;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 101px 0 103px;
  background-color: $color-default-white;
  overflow-x: hidden ;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    min-height: 657.5px;
    background-image: url("../img/hero-gradient.png") ;
    background-repeat: no-repeat;
    z-index: 0;

    @include vp-1199 {
      min-height: 554px;
    }
  }

  @include vp-1199 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.page__header {
  min-height: 104px;
  margin: 0;
  z-index: 1;

  @include vp-1199 {
    min-height: 82px;
  }

  @include vp-767 {
    min-height: 54px;
  }
}


.page__main {
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin: 0;
}

.page__footer {
  margin: 0;
}
