.programs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.4%;
  width: 100%;
  font-family: $ff-roboto-condensed;

  @include vp-1199 {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  @include vp-767 {
    gap: 0;
  }
}

.programs__program {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31%;
  padding: 64px 30px 68px 30px;
  margin-bottom: 30px;
  background-color: $color-default-white;
  z-index: 222;

  &:hover,
  &:focus {
    padding: 57px 23px 61px 23px;
    border: 7px solid;
    border-image: $torch-red-to-cobalt;
    border-image-slice: 1;
  }

  @include vp-1199 {
    width: 65%;
    padding: 65px 30px 68px 30px;
    margin-bottom: 40px;
  }
}

@include vp-767 {
  .programs__program {
    width: 100%;
    padding: 50px 0 55px 0;
    margin-bottom: 34px;

    &:hover,
    &:focus {
      padding: 43px 0 56px 0;
      border: 7px solid;
      border-image: $torch-red-to-cobalt;
      border-image-slice: 1;
    }
  }
}

@include vp-767 {
  .programs__program:last-child {
    margin-bottom: 0;
  }
}

.programs__program h3 {
  margin: 0 0 13px 0;
  color: #102654;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;

  @include vp-1199 {
    margin-bottom: 14px;
  }

  @include vp-767 {
    font-size: 22px;
    margin-bottom: 10px;
  }
}

.programs__program > span {
  margin-bottom: 65px;
  color: #102654;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @include vp-1199 {
    margin-bottom: 63px;
  }

  @include vp-767 {
    margin-bottom: 52px;
  }
}

.programs__price {
  position: relative;
  margin: 0;
}

.programs__price span:nth-child(1) {
  display: inline-block;
  margin-right: 14px;
  margin-bottom: 34px;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: $color-egyptian-blue;
  z-index: 1;

  @include vp-1199 {
    margin-bottom: 36px;
  }

  @include vp-767 {
    margin-right: 10px;
    font-size: 48px;
    margin-bottom: 33px;
  }
}

@include vp-767 {
  .programs__price svg {
    width: 24px;
    height: 33px;
  }
}

.programs__price::after {
  top: -57px;
  right: -15px;
  color: $color-whisper;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  opacity: 0.5;
  z-index: -1;

  @include vp-767 {
    font-size: 80px;
    top: -46px;
  }
}

.programs__price--first::after {
  position: absolute;
  content: "5000";
}

.programs__price--second::after {
  position: absolute;
  content: "1700";
}

.programs__price--third::after {
  position: absolute;
  content: "2700";
}

.programs__link {
  display: block;
  padding: 25px 44px 23px 44px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  color: $color-sapphire;
  text-transform: uppercase;
  border: 2px solid $color-resolution-blue;

  @include vp-1199 {
    padding: 22.5px 44px 23px 44px;
  }

  @include vp-767 {
    padding: 22px 44px 23px 44px;
    min-width: 206px;
    text-align: center;
    width: 71%;
  }
}

.programs__program:hover > .programs__link,
.programs__program:focus > .programs__link {
  background: $torch-red-to-cobalt;
  color: $color-default-white;
  border: none;
}

.programs__program:active > .programs__link {
  background: $torch-red-to-cobalt;
  color: rgba(255, 255, 255, 0.6);
  border: none;
}

.programs__program:default > .programs__link {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(16, 38, 84, 0.3);
}

.programs__link:default {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(16, 38, 84, 0.3);
}
