.slide {
  position: relative;
  cursor: pointer;

  &:hover > .slide__card {
    display: block;
  }

  &:hover > .slide__name {
    display: none;
  }

  @include vp-1199 {
    &:active > .slide__card {
      display: block;
    }

    &:active > .slide__name {
      display: none;
    }
  }
}

@include vp-1199 {
  .slide__img {
    width: 268px;
    height: 294px;
  }
}

@include vp-767 {
  .slide__img {
    height: 274px;
  }
}

.slide__name {
  position: absolute;
  content: "";
  top: 82.5%;
  right: 29%;
  font-family: $ff-roboto-condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: $color-default-white;

  @include vp-1199 {
    top: 81%;
  }
}

.slide__card {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 51px 57px 10px 57px;
  background-color: rgba(16, 38, 84, 0.89);
  color: $color-default-white;
  font-family: $ff-roboto-condensed;
  z-index: 1;
}
