.supergames__container {
  display: grid;
  grid-template-columns: 43.15% 57%;
  justify-content: start;
  padding-top: 122px;
  padding-bottom: 109px;
  background-color: $color-default-white;

  @include vp-1199 {
    grid-template-columns: 292px 57%;
    margin-left: auto;
    margin-right: auto;
    min-height: 292px;
    padding-top: 99.5px;
    padding-bottom: 103px;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    padding-top: 70.5px;
    padding-bottom: 65px;
  }
}
