.supergames-info {
  display: grid;
  grid-template-columns: 65%  32%;
  padding: 82px 78px 67px 61px;
  color: $color-default-white;
  background-color: $color-torch-red3;

  @include vp-1199 {
    grid-template-columns: 51% 24%;
    grid-template-rows: 103px 49px 39px;
    column-gap: 29px;
    padding: 51px 45px 34px 45px;
    margin: 0 auto;
    align-content: space-around;
  }

  @include vp-767 {
    grid-template-columns: 50% 27%;
    width: 100%;
    column-gap: 16%;
    min-height: 292px;
    padding: 50px 44px 31px 44px;
  }
}

.supergames-info h2 {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 3px 0 20px 0;
  text-align: center;
  font-family: $ff-alumni-sans;
  font-size: 82px;
  font-style: normal;
  font-weight: 600;
  line-height: 96%;
  letter-spacing: 2.46px;
  text-transform: uppercase;

  @include vp-1199 {
    width: 117px;
    font-size: 48px;
    margin: 0 0 9px 0;
    letter-spacing: 1.44px;
  }

  @include vp-767 {
    text-align: left;
    margin: 0 0 10px 7px;
  }
}

.supergames-info__wrapper {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  row-gap: 15%;
  margin-left: 28%;

  @include vp-1199 {
    row-gap: 0;
    margin-left: 0;

  }

  @include vp-767 {
    width: 42px;
    margin-left: auto;
  }
}

.supergames-info__wrapper p:nth-child(1) {
  display: grid;
  grid-template-columns: 29% 71%;
  grid-auto-rows: min-content;
  justify-content: start;
  align-items: start;
  margin: 0;
  font-family: $ff-roboto-condensed;
  font-style: normal;
}

.supergames-info__wrapper p:nth-child(1) span:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/2;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 400;
  word-wrap: break-word;

  @include vp-1199 {
    align-self: self-start;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1;
  }
}

.supergames-info__wrapper p:nth-child(1) span:nth-child(2) {
  grid-column: 1/2;
  grid-row: 3/4;
  font-size: 40px;
  font-weight: 700;
  word-wrap: break-word;

  @include vp-1199 {
    grid-row: 2/3;
    padding-top: 8px;
    margin-bottom: 8px;
    font-size: 24px;
  }
}

.supergames-info__wrapper p:nth-child(1) span:nth-child(3) {
  display: block;
  grid-column: 2/3;
  grid-row: 3/4;
  margin-left: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;

  @include vp-1199 {
    grid-row: 2/3;
    padding-top: 11px;
    font-size: 10px;
    line-height: 1;
    margin: 0;
  }

  @include vp-1199 {
    width: 30px;
  }
}

.supergames-info__wrapper p:nth-child(2) {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  font-family: $ff-roboto-condensed;
  line-height: 150%;
  font-style: normal;
}

.supergames-info__wrapper p:nth-child(2) span:nth-child(1) {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 400;

  @include vp-1199 {
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 1;
  }
}

.supergames-info__wrapper p:nth-child(2) span:nth-child(2) {
  font-size: 40px;
  font-weight: 700;
  word-wrap: break-word;

  @include vp-1199 {
    font-size: 24px;
    line-height: 1;
  }
}

.supergames-info > p {
  grid-column: 1/4;
  grid-row: 2/3;
  margin: 0 0 33px 16px;
  font-family: $ff-roboto-condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @include vp-1199 {
    font-size: 12px;
    line-height: 150%;
    margin: 0 0 30px 0;
  }

  @include vp-767 {
    margin-bottom: 31px;
  }
}

.supergames-info__link {
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 67px;
  margin-bottom: 17px;
  margin-left: 15px;
  padding: 0 100px 0 100px;
  font-family: $ff-roboto-condensed;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.6px;
  border: 4px solid $color-default-white;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: $color-default-white;
    color: $color-egyptian-blue;
  }

  &:active {
    background-color: $color-default-white;
    color: $color-sapphire;
  }

  &:default {
    background-color: $color-white-rgba;
    color: $color-white-rgba;
  }

  @include vp-1199 {
    padding: 0 53px 0 52px;
    margin-left: 0;
    min-width: 202px;
    min-height: 39px;
    border: 2px solid $color-default-white;
    font-size: 10px;
    letter-spacing: 0.5px;
    text-align: center;
  }

  @include vp-767 {
    min-height: 41px;
    width: 100%;
  }
}
