.supergames-picture {
  width: 100%;
  height: 100%;
}

.supergames-picture__img {
  display: block;
  height: 100%;
  object-fit: cover;

  @include vp-767 {
    object-fit: cover;
    min-height: 292px;
  }
}