.supergames-picture {
  width: 100%;
  height: 100%;
}

.supergames {
  background-color: $color-nero;
}

.supergames__container {
  background-color: $color-default-white;
}


.supergames-picture__img {
  display: block;
  height: 100%;
  object-fit: cover;

  @include vp-767 {
    object-fit: cover;
    min-height: 292px;
  }
}