.swiper--1 {
  width: 85%;

  @include vp-1199 {
    width: 73.6%;
  }

  @include vp-767 {
    width: 70.6%;
  }
}

.swiper--2 {
  width: 41%;

  @include vp-1199 {
    width: 73.8%;
  }

  @include vp-767 {
    width: 70.6%;
  }
}

.swiper-button-next::after ,
.swiper-button-prev::after {
  display: none;
}

