.swiper--1 {
  max-width: 100%;

  @include vp-1199 {
    width: 83.5%;
  }

  @include vp-767 {
    width: 77%;
  }
}

.swiper--2 {
  width: 560px;

  @include vp-1199 {
    width: 83.6%;
  }

  @include vp-767 {
    width: 78%;
  }
}

.swiper-slide

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
