.swiper--1 {
  width: 100%;

  @include vp-1199 {
    width: 83.5%;
  }

  @include vp-767 {
    width: 77%;
  }
}

.swiper--2 {
  width: 48.2%;

  @include vp-1199 {
    width: 83.6%;
  }

  @include vp-767 {
    width: 77%;
  }
}

.swiper-button-next::after ,
.swiper-button-prev::after {
  display: none;
}

