.video {
  position: relative;
  width: 100%;
  height: 0;
  background-color: $color-default-black;

  // @include vp-1199 {
  //   width: 39%;
  //   margin: 0 auto;
  // }

  // @include vp-767 {
  //   width: 320px;
  //   height: 167px;
  //   margin: 0 auto;
  // }
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgba(20, 54, 122, 0.5);
}

.video__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 51%;
  left: 49.5%;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.video__svg {
  position: absolute;
  content: "";
  padding: 10px;
  width: 72px;
  height: 72px;
  fill: $color-default-white;
  background-size: 13px 15px;
  border-radius: 50%;
  z-index: 4;
}

.video__iframe {
  width: 100%;
  height: 100%;
}

//   // @include vp-767 {
//   //   width: 320px;
//   //   height: 167px;
//   //   left: -15px;
//   // }
// }

.video__link::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 54, 122, 0.5);
  z-index: 1;
}

// .video__iframe {
//   @include vp-1199 {
//     max-width: 100%;
//     width: 266px;
//     height: 167px;
//   }

//   @include vp-767 {
//     width: 100%;
//     width: 320px;
//     height: 167px;
//     margin-left: -15px;
//     margin-top: 3px;
//   }
// }
