.video {
  height: 0;
  background-color: $color-default-black;

  @include vp-1199 {
    margin: 0 auto;
    min-height: 167px;
    min-width: 266px;
  }

  @include vp-767 {
    min-width: 320px;
    min-height: 167px;
  }
}

.video__link img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;

  @include vp-1199 {
    min-height: 167px;
    min-width: 266px;
  }

  @include vp-767 {
    position: relative;
    object-fit: cover;
    min-width: 320px;
    height: 167px;
  }
}

.video__button {
  position: absolute;
  content: "";
  top: 49%;
  left: 49.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  transform: translate(-50%, -50%);
  z-index: 66666;
  cursor: pointer;

  @include vp-1199 {
    top: 50.5%;
    width: 73px;
    height: 73px;
  }

  @include vp-767 {
    top: 50%;
    left: 50.5%;
  }
}

.video__button-svg {
  min-width: 100px;
  min-height: 100px;

  @include vp-1199 {
    min-width: 73px;
    min-height: 73px;
  }
}

.video__button:hover > .video__button-svg > .video__button-circle1,
.video__button:focus > .video__button-svg > .video__button-circle1,
.video__button:active > .video__button-svg > .video__button-circle1 {
  stroke: $color-sapphire;
}

.video__button:hover > .video__button-svg > .video__button-circle2,
.video__button:focus > .video__button-svg > .video__button-circle2,
.video__button:active > .video__button-svg > .video__button-circle2 {
  fill: $color-default-white;
}

.video__button:hover > .video__button-svg > .video__button-path,
.video__button:focus > .video__button-svg > .video__button-path,
.video__button:active > .video__button-svg > .video__button-path {
  fill: $color-sapphire;
}

.video__button:active > .video__button-svg > .video__button-circle2 {
  transform: translate(10px, 10px) scale(0.8);
}

.video__button:disabled > .video__button-svg > .video__button-circle1 {
  stroke: $color-sapphire-rgba;
}

.video__button:disabled > .video__button-svg > .video__button-path {
  fill: $color-sapphire-rgba;
}

iframe {
  max-width: 364px;
  max-height: 228px;

  @include vp-1199 {
    width: 100%;
    height: 100%;
    min-height: 167px;
    min-width: 266px;
  }

  @include vp-767 {
    width: 100%;
    height: 100%;
    min-height: 167px;
    max-width: none;
    max-height: none;
  }
}

.video__link::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 54, 122, 0.5);
  z-index: 1;

  @include vp-1199 {
    min-height: 167px;
    min-width: 266px;
  }

  @include vp-767 {
    min-height: 167px;
    min-width: 320px;
  }
}
